<!DOCTYPE html>
<html lang="zxx">
	<head>
        <!-- All Meta -->
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- faviocn -->
        <link rel="shortcut icon" href="assets/images/fav.png">
        <!-- page title -->
        <title>Seomun | SEO And Digital Marketing Agency HTML Template</title>
        <!--All Css here -->
        <!--Bootstrap  css-->
        <link rel="stylesheet" href="assets/css/bootstrap/css/bootstrap.min.css">
        <!-- Fontaweome css -->
        <link rel="stylesheet" href="assets/fonts/fontawesome/css/all.css">
        <!--slick slider css -->
        <link rel="stylesheet" href="assets/css/slick/slick.css">
        <link rel="stylesheet" href="assets/css/slick/slick-theme.css">
        <!--nice-number css-->
        <link rel="stylesheet" href="assets/css/jquery.nice-number.css">
        <!--animate css-->
        <link rel="stylesheet" href="assets/css/animate.css">
        <!--meanmenu css-->
        <link rel="stylesheet" href="assets/css/meanmenu.css">
        <!--magnific-popup css-->
        <link rel="stylesheet" href="assets/css/magnific-popup.css">
        <!--sidebar-menu css-->
        <link rel="stylesheet" href="assets/css/sidebar-menu.css">
        <!--Style css-->
        <link rel="stylesheet" href="assets/css/style.css">
        <!--Responsive css-->
        <link rel="stylesheet" href="assets/css/responsive.css">
    </head>
	<body>
        <!-- Start Preloader Area -->
        <div class="preloader_area">
            <div class="lodar">
                <ul>
                    <li>S</li>
                    <li>E</li>
                    <li>O</li>
                    <li>M</li>
                    <li>U</li>
                    <li>N</li>
                </ul>
            </div>
        </div><!-- End Preloader Area -->
        <!-- Satrt seomun_header  -->
        <header class="seomun_header seomun_header_2">
            <div class="header_container_2">
                <div class="row align-items-center">
                    <div class="col-lg-2">
                        <div class="seomun_logo brand_icon">
                            <a href="#"><img src="assets/images/logo_2.png" class="img-fluid" alt=""></a>
                        </div>
                    </div>
                    <div class="col-lg-8">
                        <div class="seomun_menu">
                            <nav class="main_menu">
                                <ul>
                                    <li><a href="#">Home</a>
                                        <ul class="sub_menu">
                                            <li><a href="index_1.html">Home 01</a></li>
                                            <li><a href="index_2.html">Home 02</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="#">Pages</a>
                                        <ul class="sub_menu">
                                            <li><a href="about_us.html">about us</a></li>
                                            <li><a href="team.html">our team</a></li>
                                            <li><a href="testimonial.html">testimonial</a></li>
                                            <li><a href="faq.html">faq</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="#">Services</a>
                                        <ul class="sub_menu">
                                            <li><a href="smm_service.html">smm service</a></li>
                                            <li><a href="ppc_service.html">ppc service</a></li>
                                            <li><a href="seo_service.html">seo service</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="#">Protfolio</a>
                                        <ul class="sub_menu">
                                            <li><a href="portfolio_grid.html">Portfolio grid</a></li>
                                            <li><a href="portfolio_masonary.html">Portfolio masonary</a></li>
                                            <li><a href="single_portfolio.html">single portfolio</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="#">Shop</a>
                                        <ul class="sub_menu">
                                            <li><a href="shop.html">our shop</a></li>
                                            <li><a href="shop_details.html">Product details</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="#">Blog</a>
                                        <ul class="sub_menu">
                                            <li><a href="blog_standard.html">Blog standard</a></li>
                                            <li><a href="blog_grid.html">Blog grid</a></li>
                                            <li><a href="blog_grid_sidebar.html">Blog grid sidebar</a></li>
                                            <li><a href="blog_details.html">Blog Details</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="contact.html">Contact</a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                    <div class="col-lg-2">
                        <div class="sidebar_icon">
                            <button class="sidebar_btn"><i class="fal fa-bars"></i></button>
                        </div>
                        <div class="animate-menu animate-menu-left">
                            <div class="sidebar_logo">
                                <a href="#"><img src="assets/images/logo_3.png" alt=""></a>
                            </div>
                            <ul class="sidebar-menu">
                                <li>
                                    <a href="#">
                                        <span>Home</span>
                                        <i class="far fa-angle-right float-right"></i>
                                    </a>
                                    <ul class="sidebar-submenu">
                                        <li><a href="index_1.html">Home 01</a></li>
                                        <li><a href="index_2.html">Home 01</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="#">
                                        <span>Pages</span>
                                        <i class="far fa-angle-right float-right"></i>
                                    </a>
                                    <ul class="sidebar-submenu">
                                        <li><a href="about_us.html">about us</a></li>
                                        <li><a href="team.html">our team</a></li>
                                        <li><a href="testimonial.html">testimonial</a></li>
                                        <li><a href="faq.html">faq</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="#">
                                        <span>Services</span>
                                        <i class="far fa-angle-right float-right"></i>
                                    </a>
                                    <ul class="sidebar-submenu">
                                        <li><a href="smm_service.html">smm service</a></li>
                                        <li><a href="ppc_service.html">ppc service</a></li>
                                        <li><a href="seo_service.html">seo service</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="#">
                                        <span>Portfolio</span>
                                        <i class="far fa-angle-right float-right"></i>
                                    </a>
                                    <ul class="sidebar-submenu">
                                        <li><a href="portfolio_grid.html">Portfolio grid</a></li>
                                        <li><a href="portfolio_masonary.html">Portfolio masonary</a></li>
                                        <li><a href="single_portfolio.html">single portfolio</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="#">
                                        <span>Shop</span>
                                        <i class="far fa-angle-right float-right"></i>
                                    </a>
                                    <ul class="sidebar-submenu">
                                        <li><a href="shop.html">our shop</a></li>
                                        <li><a href="shop_details.html">Product details</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="#">
                                        <span>Blog</span>
                                        <i class="far fa-angle-right float-right"></i>
                                    </a>
                                    <ul class="sidebar-submenu">
                                        <li><a href="blog_standard.html">Blog standard</a></li>
                                        <li><a href="blog_grid.html">Blog grid</a></li>
                                        <li><a href="blog_grid_sidebar.html">Blog grid sidebar</a></li>
                                        <li><a href="blog_details.html">Blog Details</a></li>
                                    </ul>
                                </li>
                                <li><a href="contact.html">Contact</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-12"><div class="mobile_menu"></div></div>
                </div>
            </div>
        </header><!-- End seomun_header  -->
        <!-- Start seomun_header section -->
        <section class="seomun_welcome seomun_welcome_2" style="background-image: url(assets/images/head_bg_2.png);">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-6">
                        <div class="header_content_box seomun_content_box header_content_box_2 wow fadeInLeft" data-wow-delay=".3s">
                            <span class="seomun_span">Digital agency</span>
                            <h2><span>Get Your Business</span><br>On Google Search</h2>
                            <h5>We help you managing asset, provide financial advise. Leave money issue with us and focus on your core business.</h5>
                            <a href="#" class="seomun_btn_2">Learn more</a>
                            <a href="https://www.youtube.com/watch?v=3AtDnEC4zak" class="video_btn"><span><i class="fas fa-play"></i></span>intro video</a>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="header_img_box wow fadeInRight" data-wow-delay=".5s">
                            <img src="assets/images/header_2.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </section><!-- End seomun_header section -->
        <!-- Start Seomun_Service section -->
        <section class="seomun_service secomun_service_2 section_padding">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-4 col-md-6 col-sm-8">
                        <div class="seomun_box service_box_2 text-center wow fadeInUp" data-wow-delay=".3s">
                            <div class="seomun_icon">
                                <i class="far fa-dice-d10"></i>
                            </div>
                            <div class="seomun_info">
                                <h3>Data Analytics</h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore.</p>
                                <a href="#" class="link_btn">Read more</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-8">
                        <div class="seomun_box service_box_2 text-center wow fadeInUp" data-wow-delay=".5s">
                            <div class="seomun_icon">
                                <i class="fal fa-futbol"></i>
                            </div>
                            <div class="seomun_info">
                                <h3>SEO Services</h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore.</p>
                                <a href="#" class="link_btn">Read more</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-8">
                        <div class="seomun_box service_box_2 text-center wow fadeInUp" data-wow-delay=".7s">
                            <div class="seomun_icon">
                                <i class="fal fa-dice-d20"></i>
                            </div>
                            <div class="seomun_info">
                                <h3>Data Analytics</h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore.</p>
                                <a href="#" class="link_btn">Read more</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End Seomun_Service section -->
        <!-- Start seomun_counter section -->
        <section class="seomun_counter">
            <div class="container">
                <div class="seomun_counter_area">
                    <div class="row">
                        <div class="col-lg-3 col-md-6 col-sm-6">
                            <div class="counter_box counter_box_1">
                                <div class="chart_1" data-percent="70" data-bar-color="#00e1ef">
                                    <div class="circle_info">
                                        <h2><span class="counter">234</span>+</h2>
                                        <h6>Users</h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-6">
                            <div class="counter_box counter_box_1">
                                <div class="chart_1" data-percent="70" data-bar-color="#ffa61b">
                                    <div class="circle_info">
                                        <h2><span class="counter">345</span>+</h2>
                                        <h6>projects</h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-6">
                            <div class="counter_box counter_box_1">
                                <div class="chart_1" data-percent="90" data-bar-color="#ff1f27">
                                    <div class="circle_info">
                                        <h2><span class="counter">765</span>+</h2>
                                        <h6>awards</h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-6">
                            <div class="counter_box counter_box_1">
                                <div class="chart_1" data-percent="53" data-bar-color="#f26c4f">
                                    <div class="circle_info">
                                        <h2><span class="counter">862</span>+</h2>
                                        <h6>coffee</h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section><!-- End seomun_counter section -->
        <!-- Start seomun_about section -->
        <section class="seomun_about seomun_about2 section_padding">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-6">
                        <div class="seomun_content_box about_content_box wow fadeInLeft" data-wow-delay=".3s">
                            <span class="seomun_span">our approch</span>
                            <h2><span>We Are Here For </span><br>Make Best Product</h2>
                            <h5>We help you managing asset, provide financial advise. Leave money issue with us and focus on your core business.</h5>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididuntut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident for your happiness.</p>
                            <a href="#" class="seomun_btn_2">our services</a>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="seomun_img_box about_img_box about_img_box_2 wow fadeInRight" data-wow-delay=".5s">
                            <img src="assets/images/about_3.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </section><!-- End seomun_about section -->
        <!-- Satrt seomun_features_2 section -->
        <section class="seomun_features_2 features_2 gray_bg section_padding">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-6">
                        <div class="seomun_section_title text-center">
                            <h2>Still Need Some?</h2>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididuntut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud.</p>
                        </div>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-lg-4 col-md-6 col-sm-8">
                        <div class="seomun_box features_box_2 feature_box_3 wow fadeInUp" data-wow-delay=".3s">
                            <div class="seomun_icon">
                                <i class="fal fa-user"></i>
                            </div>
                            <div class="seomun_info">
                                <h4>Partners Info</h4>
                                <p>Lorem ipsum dolor sit amet, consecte tur adipisicing elit, sed do eiusmod tempor incididunt it will.</p>
                                <a href="#" class="feat_icon"><i class="far fa-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-8">
                        <div class="seomun_box features_box_2 feature_box_3 wow fadeInUp" data-wow-delay=".5s">
                            <div class="seomun_icon">
                                <i class="fal fa-id-card"></i>
                            </div>
                            <div class="seomun_info">
                                <h4>News & Updates</h4>
                                <p>Lorem ipsum dolor sit amet, consecte tur adipisicing elit, sed do eiusmod tempor incididunt it will.</p>
                                <a href="#" class="feat_icon"><i class="far fa-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-8">
                        <div class="seomun_box features_box_2 feature_box_3 wow fadeInUp" data-wow-delay=".7s">
                            <div class="seomun_icon">
                                <i class="fal fa-paper-plane"></i>
                            </div>
                            <div class="seomun_info">
                                <h4>Incredible Startup</h4>
                                <p>Lorem ipsum dolor sit amet, consecte tur adipisicing elit, sed do eiusmod tempor incididunt it will.</p>
                                <a href="#" class="feat_icon"><i class="far fa-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-8">
                        <div class="seomun_box features_box_2 feature_box_3 wow fadeInUp" data-wow-delay=".9s">
                            <div class="seomun_icon">
                                <i class="fal fa-user"></i>
                            </div>
                            <div class="seomun_info">
                                <h4>Partners Info</h4>
                                <p>Lorem ipsum dolor sit amet, consecte tur adipisicing elit, sed do eiusmod tempor incididunt it will.</p>
                                <a href="#" class="feat_icon"><i class="far fa-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-8">
                        <div class="seomun_box features_box_2 feature_box_3 wow fadeInUp" data-wow-delay="1s">
                            <div class="seomun_icon">
                                <i class="fal fa-id-card"></i>
                            </div>
                            <div class="seomun_info">
                                <h4>News & Updates</h4>
                                <p>Lorem ipsum dolor sit amet, consecte tur adipisicing elit, sed do eiusmod tempor incididunt it will.</p>
                                <a href="#" class="feat_icon"><i class="far fa-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-8">
                        <div class="seomun_box features_box_2 feature_box_3 wow fadeInUp" data-wow-delay="1.5s">
                            <div class="seomun_icon">
                                <i class="fal fa-paper-plane"></i>
                            </div>
                            <div class="seomun_info">
                                <h4>Incredible Startup</h4>
                                <p>Lorem ipsum dolor sit amet, consecte tur adipisicing elit, sed do eiusmod tempor incididunt it will.</p>
                                <a href="#" class="feat_icon"><i class="far fa-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section><!-- End seomun_features_2 section -->
        <!-- Satrt seomun_faq section -->
        <section class="seomun_faq seomun_faq2 section_padding">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-6">
                        <div class="faq_content_box seomun_content_box">
                            <span class="seomun_span">faq</span>
                            <h2><span>Social Media Allows Big <br></span>Thing To Act Small.</h2>
                            <h5>We help you managing asset, provide financial advise. Leave money issue with us and focus on your core business.</h5>
                        </div>
                        <div class="faq_accoridian faq_accoridian_2">
                            <div id="accordion">
                                <div class="card">
                                    <div class="card-header" id="headingOne">
                                        <h5>
                                            <a href="#" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">How can i get high-end anaylizing process?
                                                <i class="fal fa-eye"></i>
                                                <i class="fal fa-eye-slash"></i>
                                            </a>
                                        </h5>
                                    </div>
                                    <div id="collapseOne" class="collapse show" data-parent="#accordion">
                                        <div class="card-body">
                                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-header" id="headingTwo">
                                        <h5><a href="#" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">How can i get excellence track record?
                                            <i class="fal fa-eye"></i>
                                            <i class="fal fa-eye-slash"></i>
                                        </a></h5>
                                    </div>
                                    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                                        <div class="card-body">
                                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-header" id="headingThree">
                                        <h5><a href="#" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">How can i get dedicated support?
                                            <i class="fal fa-eye"></i>
                                            <i class="fal fa-eye-slash"></i>
                                        </a></h5>
                                    </div>
                                    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                                        <div class="card-body">
                                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-header" id="heading4">
                                        <h5><a href="#" data-toggle="collapse" data-target="#collapse4" aria-expanded="false" aria-controls="collapse4">How can i get ssl hosting?
                                            <i class="fal fa-eye"></i>
                                            <i class="fal fa-eye-slash"></i>
                                        </a></h5>
                                    </div>
                                    <div id="collapse4" class="collapse" aria-labelledby="heading4" data-parent="#accordion">
                                        <div class="card-body">
                                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="faq_right_box faq_right_box_2 wow fadeInRight">
                            <img src="assets/images/faq_5.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </section><!-- End seomun_faq section -->
        <!-- Start seomun_works section -->
        <section class="seomun_works seomun_works_2 gray_bg section_padding" id="seomun_works">
            <div class="container"> 
                <div class="row justify-content-center">
                    <div class="col-lg-6">
                        <div class="seomun_section_title text-center">
                            <h2>Case Study</h2>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididuntut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud.</p>
                        </div>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-lg-6">
                        <div class="works_button work_button_2 text-center">                              
                            <button class="work_btn btn_active" data-filter="*">All Projects</button>
                            <button class="work_btn" data-filter=".ui">UI/UX</button>
                            <button class="work_btn" data-filter=".brand">Branding</button>
                            <button class="work_btn" data-filter=".web">Web Design</button>
                        </div>
                    </div>
                </div>
                <div class="row grid">
                    <div class="col-lg-4 col-md-6 col-sm-12 ui All work_item">
                        <div class="seomun_box work_box">
                            <div class="seomun_img">
                                <img src="assets/images/work_1.jpg" class="img-fluid" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12 brand All work_item">
                        <div class="seomun_box work_box">
                            <div class="seomun_img">
                                <img src="assets/images/work_2.jpg" class="img-fluid" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12 web All work_item">
                        <div class="seomun_box work_box">
                            <div class="seomun_img">
                                <img src="assets/images/work_1.jpg" class="img-fluid" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12 brand All work_item">
                        <div class="seomun_box work_box">
                            <div class="seomun_img">
                                <img src="assets/images/work_1.jpg" class="img-fluid" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12 web ui All work_item">
                        <div class="seomun_box work_box">
                            <div class="seomun_img">
                                <img src="assets/images/work_2.jpg" class="img-fluid" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12 ui All work_item">
                        <div class="seomun_box work_box">
                            <div class="seomun_img">
                                <img src="assets/images/work_1.jpg" class="img-fluid" alt="">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="load_more text-center">
                            <a href="#" class="seomun_btn_2">more works</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End seomun_works section -->
        <!-- Start Seomun_Testimonial section -->
        <section class="seomun_testimonial seomun_testimonial2 section_padding">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-6">
                        <div class="testimonial_content_box seomun_content_box">
                            <span class="seomun_span">testimonals</span>
                            <h2><span>Here Is Some Clients </span><br>Smart Feedback</h2>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="testimonil_input">
                            <input type="text"> 
                        </div>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-lg-9">
                        <div class="testimonial_box">
                            <div class="testimonial_slide">
                                <div class="testimonial_review_box">
                                    <div class="client_img">
                                        <img src="assets/images/client_1.png" alt="">
                                    </div>
                                    <div class="review_text">
                                        <ul class="rateing">
                                            <li><a href="#"><i class="far fa-star"></i></a></li>
                                            <li><a href="#"><i class="far fa-star"></i></a></li>
                                            <li><a href="#"><i class="far fa-star"></i></a></li>
                                            <li><a href="#"><i class="far fa-star"></i></a></li>
                                            <li><a href="#"><i class="far fa-star"></i></a></li>
                                        </ul>
                                        <h3>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi.</h3>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate.</p>
                                        <h5>Rosalina D. Williamson</h5>
                                        <h6>Founder, Call Of Duty</h6>
                                    </div>
                                </div>
                                <div class="testimonial_review_box">
                                    <div class="client_img">
                                        <img src="assets/images/client_1.png" alt="">
                                    </div>
                                    <div class="review_text">
                                        <ul class="rateing">
                                            <li><a href="#"><i class="far fa-star"></i></a></li>
                                            <li><a href="#"><i class="far fa-star"></i></a></li>
                                            <li><a href="#"><i class="far fa-star"></i></a></li>
                                            <li><a href="#"><i class="far fa-star"></i></a></li>
                                            <li><a href="#"><i class="far fa-star"></i></a></li>
                                        </ul>
                                        <h3>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi.</h3>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate.</p>
                                        <h5>Rosalina D. Williamson</h5>
                                        <h6>Founder, Call Of Duty</h6>
                                    </div>
                                </div>
                                <div class="testimonial_review_box">
                                    <div class="client_img">
                                        <img src="assets/images/client_1.png" alt="">
                                    </div>
                                    <div class="review_text">
                                        <ul class="rateing">
                                            <li><a href="#"><i class="far fa-star"></i></a></li>
                                            <li><a href="#"><i class="far fa-star"></i></a></li>
                                            <li><a href="#"><i class="far fa-star"></i></a></li>
                                            <li><a href="#"><i class="far fa-star"></i></a></li>
                                            <li><a href="#"><i class="far fa-star"></i></a></li>
                                        </ul>
                                        <h3>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi.</h3>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate.</p>
                                        <h5>Rosalina D. Williamson</h5>
                                        <h6>Founder, Call Of Duty</h6>
                                    </div>
                                </div>
                                <div class="testimonial_review_box">
                                    <div class="client_img">
                                        <img src="assets/images/client_1.png" alt="">
                                    </div>
                                    <div class="review_text">
                                        <ul class="rateing">
                                            <li><a href="#"><i class="far fa-star"></i></a></li>
                                            <li><a href="#"><i class="far fa-star"></i></a></li>
                                            <li><a href="#"><i class="far fa-star"></i></a></li>
                                            <li><a href="#"><i class="far fa-star"></i></a></li>
                                            <li><a href="#"><i class="far fa-star"></i></a></li>
                                        </ul>
                                        <h3>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi.</h3>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate.</p>
                                        <h5>Rosalina D. Williamson</h5>
                                        <h6>Founder, Call Of Duty</h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section><!-- End Seomun_Testimonial section -->
        <!-- Start seomun_blog section -->
        <section class="seomun_blog seomun_blog_2 dark_bg section_padding">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-6">
                        <div class="seomun_section_title dark_section_title text-center">
                            <h2>News Feeds</h2>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididuntut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud.</p>
                        </div>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-lg-4 col-md-6 col-sm-8">
                        <div class="seomun_box blog_box_2 wow fadeInUp" data-wow-delay=".3s">
                            <div class="seomun_img_box">
                                <img src="assets/images/blog_20.jpg" class="img-fluid" alt="">
                            </div>
                            <div class="blog_content_box">
                                <div class="post_meta">
                                    <ul>
                                        <li><span><i class="far fa-comments"></i></span> <a href="#">33 Comments</a></li>
                                        <li><span><i class="far fa-share"></i> </span><a href="#">5 Share</a></li>
                                    </ul>        
                                </div>
                                <div class="seomun_info blog_info">
                                    <h3><a href="#">Lorem ipsum dolor sit amconsec tetur adipis.</a></h3>
                                    <p>Lorem ipsum dolor sit amet, consectetur ad ipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-8">
                        <div class="seomun_box blog_box_2 wow fadeInUp" data-wow-delay=".5s">
                            <div class="seomun_img_box">
                                <img src="assets/images/blog_21.jpg" class="img-fluid" alt="">
                            </div>
                            <div class="blog_content_box">
                                <div class="post_meta">
                                    <ul>
                                        <li><span><i class="far fa-comments"></i></span><a href="#">33 Comments</a></li>
                                        <li><span><i class="far fa-share"></i> </span><a href="#">5 Share</a></li>
                                    </ul>        
                                </div>
                                <div class="seomun_info blog_info">
                                    <h3><a href="#">Lorem ipsum dolor sit amconsec tetur adipis.</a></h3>
                                    <p>Lorem ipsum dolor sit amet, consectetur ad ipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-8">
                        <div class="seomun_box blog_box_2 wow fadeInUp" data-wow-delay=".7s">
                            <div class="seomun_img_box">
                                <img src="assets/images/blog_22.jpg" class="img-fluid" alt="">
                            </div>
                            <div class="blog_content_box">
                                <div class="post_meta">
                                    <ul>
                                        <li><span><i class="far fa-comments"></i></span><a href="#">33 Comments</a></li>
                                        <li><span><i class="far fa-share"></i> </span><a href="#">5 Share</a></li>
                                    </ul>        
                                </div>
                                <div class="seomun_info blog_info">
                                    <h3><a href="#">Lorem ipsum dolor sit amconsec tetur adipis.</a></h3>
                                    <p>Lorem ipsum dolor sit amet, consectetur ad ipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section><!-- End seomun_blog section -->
        <!-- Start seomun_footer area -->
        <footer class="seomun_footer seomun_footer_2 section_padding" style="background-image: url(assets/images/footer_bg_3.png);">
            <div class="container">
                <div class="seomun_copyright">
                    <div class="row justify-content-center">
                        <div class="col-lg-8">
                            <div class="copyright_text text-center">
                                <a href="#" class="footer_logo"><img src="assets/images/logo_3.png" alt=""></a>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et doloremagna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex eacommodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse.</p>
                                <ul class="footer_social">
                                    <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                    <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fab fa-behance"></i></a></li>
                                    <li><a href="#"><i class="fab fa-youtube"></i></a></li>
                                    <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer><!-- End seomun_footer area -->
        <!-- jquery  -->
        <script src="assets/js/vendor/jquery-1.12.4.min.js"></script>
        <!--modernizr js-->
        <script src="assets/js/vendor/modernizr-3.6.0.min.js"></script>
        <!-- Bootstrap js  -->
        <script src="assets/css/bootstrap/js/bootstrap.min.js"></script>
        <script src="assets/css/bootstrap/js/popper.min.js"></script>
        <!--meanmenu js-->
        <script src="assets/js/jquery.meanmenu.js"></script>
        <!--slick slider js -->
        <script src="assets/css/slick/slick.min.js"></script>
        <!-- isotope min.js  -->
        <script src="assets/js/isotope.min.js"></script>
        <!-- imagesloaded min.js  -->
        <script src="assets/js/imagesloaded.min.js"></script>
        <!--magnific-popup js-->
        <script src="assets/js/jquery.magnific-popup.min.js"></script>
        <!--jquery counterup js-->
        <script src="assets/js/jquery.counterup.min.js"></script>
        <script src="assets/js/jquery.waypoints.min.js"></script>
        <!--wow js-->
        <script src="assets/js/wow.min.js"></script>
        <!--easypiechart js-->
        <script src="assets/js/jquery.easypiechart.js"></script>
        <!--nice-number js-->
        <script src="assets/js/jquery.nice-number.min.js"></script>
        <!--sidebar-menu js-->
        <script src="assets/js/sidebar-menu.js"></script>
        <!-- custom js  -->
        <script src="assets/js/custom.js"></script>
	</body>
</html>