<!DOCTYPE html>
<html lang="zxx">
	<head>
        <!-- All Meta -->
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- faviocn -->
        <link rel="shortcut icon" href="assets/images/fav.png">
        <!-- page title -->
        <title>Seomun | SEO And Digital Marketing Agency HTML Template</title>
        <!--All Css here -->
        <!--Bootstrap  css-->
        <link rel="stylesheet" href="assets/css/bootstrap/css/bootstrap.min.css">
        <!-- Fontaweome css -->
        <link rel="stylesheet" href="assets/fonts/fontawesome/css/all.css">
        <!--slick slider css -->
        <link rel="stylesheet" href="assets/css/slick/slick.css">
        <link rel="stylesheet" href="assets/css/slick/slick-theme.css">
        <!--nice-number css-->
        <link rel="stylesheet" href="assets/css/jquery.nice-number.css">
        <!--animate css-->
        <link rel="stylesheet" href="assets/css/animate.css">
        <!--meanmenu css-->
        <link rel="stylesheet" href="assets/css/meanmenu.css">
        <!--magnific-popup css-->
        <link rel="stylesheet" href="assets/css/magnific-popup.css">
        <!--sidebar-menu css-->
        <link rel="stylesheet" href="assets/css/sidebar-menu.css">
        <!--Style css-->
        <link rel="stylesheet" href="assets/css/style.css">
        <!--Responsive css-->
        <link rel="stylesheet" href="assets/css/responsive.css">
    </head>
	<body>
        <!-- Start Preloader Area -->
        <div class="preloader_area">
            <div class="lodar">
                <ul>
                    <li>S</li>
                    <li>E</li>
                    <li>O</li>
                    <li>M</li>
                    <li>U</li>
                    <li>N</li>
                </ul>
            </div>
        </div><!-- End Preloader Area -->
        <!-- Satrt seomun_header  -->
        <header class="seomun_header seomun_header_1">
            <div class="header_container">
                <div class="row align-items-center">
                    <div class="col-lg-1">
                        <div class="seomun_logo brand_icon">
                            <a href="#"><img src="assets/images/logo_1.png" class="img-fluid" alt=""></a>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="seomun_menu">
                            <nav class="main_menu">
                                <ul>
                                    <li><a href="#">Home</a>
                                        <ul class="sub_menu">
                                            <li><a href="index_1.html">Home 01</a></li>
                                            <li><a href="index_2.html">Home 02</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="#">Pages</a>
                                        <ul class="sub_menu">
                                            <li><a href="about_us.html">about us</a></li>
                                            <li><a href="team.html">our team</a></li>
                                            <li><a href="testimonial.html">testimonial</a></li>
                                            <li><a href="faq.html">faq</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="#">Services</a>
                                        <ul class="sub_menu">
                                            <li><a href="smm_service.html">smm service</a></li>
                                            <li><a href="ppc_service.html">ppc service</a></li>
                                            <li><a href="seo_service.html">seo service</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="#">Protfolio</a>
                                        <ul class="sub_menu">
                                            <li><a href="portfolio_grid.html">Portfolio grid</a></li>
                                            <li><a href="portfolio_masonary.html">Portfolio masonary</a></li>
                                            <li><a href="single_portfolio.html">single portfolio</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="#">Shop</a>
                                        <ul class="sub_menu">
                                            <li><a href="shop.html">our shop</a></li>
                                            <li><a href="shop_details.html">Product details</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="#">Blog</a>
                                        <ul class="sub_menu">
                                            <li><a href="blog_standard.html">Blog standard</a></li>
                                            <li><a href="blog_grid.html">Blog grid</a></li>
                                            <li><a href="blog_grid_sidebar.html">Blog grid sidebar</a></li>
                                            <li><a href="blog_details.html">Blog Details</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="contact.html">Contact</a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                    <div class="col-lg-2">
                        <div class="menu_button">
                            <a href="#" class="phone_btn">phone +909 7976 86 7</a>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="menu_button_box">
                            <div class="select_option">
                                <form>
                                    <select>
                                        <option>English</option>
                                        <option>French</option>
                                        <option>Bengali</option>
                                    </select>
                                </form>
                            </div>
                            <ul>
                                <li><a href="#" class="cart_icon"><i class="fal fa-shopping-cart"></i></a></li>
                                <li class="search_menu"><a href="javascript:void(0)" class="search_icon"><i class="far fa-search"></i></a>
                                    <div class="soemun_search_form animated jackInTheBox">
                                        <form>
                                            <div class="seomun_group">
                                                <input type="text" class="form_control" placeholder="Serach here" name="serch">
                                                <button type="submit" class="serach_btn"><i class="fal fa-search"></i></button>
                                            </div>
                                        </form>
                                    </div> 
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-12"><div class="mobile_menu"></div></div>
                </div>
            </div>
        </header><!-- End seomun_header  -->
        <!-- Start seomun_header section -->
        <section class="seomun_welcome seomun_welcome_1">
            <svg id="head_1" width="1243px" height="1165px">
                <path fill-rule="evenodd"  fill="rgb(248, 251, 255)" d="M1079.000,899.999 C1079.000,899.999 809.000,1267.999 651.000,1135.999 C493.000,1004.000 361.000,1023.999 263.000,1045.999 C165.000,1067.999 -81.000,979.999 27.000,785.999 C135.000,591.999 213.000,411.999 525.000,384.000 C837.000,355.999 961.000,323.999 913.000,172.001 C865.000,20.001 579.000,102.001 519.000,100.001 C459.000,98.001 989.000,0.000 989.000,0.000 L1243.000,582.000 L1079.000,899.999 Z"/>
            </svg>
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-6">
                        <div class="header_content_box seomun_content_box wow fadeInLeft" data-wow-delay=".3s">
                            <span class="seomun_span">Digital agency</span>
                            <h2><span>Get Your Business</span><br>On Google Search</h2>
                            <h5>We help you managing asset, provide financial advise. Leave money issue with us and focus on your core business.</h5>
                            <a href="#" class="seomun_btn">Learn more</a>
                            <a href="https://www.youtube.com/watch?v=3AtDnEC4zak" class="video_btn"><span><i class="fas fa-play"></i></span>intro video</a>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="header_img_box wow fadeInRight" data-wow-delay=".5s">
                            <img src="assets/images/header_1.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </section><!-- End seomun_header section -->
        <!-- Start seomun_about section -->
        <section class="seomun_about about_home">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-6">
                        <div class="seomun_img_box about_img_box about_img_box_2">
                            <img src="assets/images/about_2.png" alt="">
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="seomun_content_box about_content_box">
                            <span class="seomun_span">our approch</span>
                            <h2><span>We Are Here For </span><br>Make Best Product</h2>
                            <h5>We help you managing asset, provide financial advise. Leave money issue with us and focus on your core business.</h5>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididuntut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident for your happiness.</p>
                            <a href="#" class="seomun_btn">our services</a>
                        </div>
                    </div>
                </div>
            </div>
        </section><!-- End seomun_about section -->
        <!-- Start seomun_seo_features section -->
        <section class="seomun_seo_features seo_features section_padding_2">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-6">
                        <div class="seomun_section_title text-center">
                            <span>dope line</span>
                            <h2>Core Features</h2>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididuntut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud.</p>
                        </div>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-lg-4 col-md-6 col-sm-8">
                        <div class="seomun_box seo_features_box wow fadeInUp" data-wow-delay=".3s">
                            <div class="seomun_icon">
                                <i class="fas fa-dice-d10"></i>
                            </div>
                            <div class="seomun_info">
                                <h3>Data Analytics</h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmodtempor incididunt emit.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-8">
                        <div class="seomun_box seo_features_box wow fadeInUp" data-wow-delay=".5s">
                            <div class="seomun_icon">
                                <i class="fas fa-dice-d12"></i>
                            </div>
                            <div class="seomun_info">
                                <h3>Data Analytics</h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmodtempor incididunt emit.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-8">
                        <div class="seomun_box seo_features_box wow fadeInUp" data-wow-delay=".7s">
                            <div class="seomun_icon">
                                <i class="fal fa-dice-d20"></i>
                            </div>
                            <div class="seomun_info">
                                <h3>Data Analytics</h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmodtempor incididunt emit.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section><!-- End seomun_seo_features section -->
        <!-- Start seomun_skill section -->
        <section class="seomun_skill seomun_skill_1 section_padding_2">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="seomun_content_box skill_content_box">
                            <span class="seomun_span">our skills</span>
                            <h2><span>Social Media Allows Big</span><br>Thing To Act Small.</h2>
                            <h5>We help you managing asset, provide financial advise. Leave money issue with us and focus on your core business.</h5>
                        </div>
                        <!-- Start seomun_counter section -->
                        <div class="seomun_counter_area_2">
                            <div class="row">
                                <div class="col-lg-3 col-md-3 col-sm-6">
                                    <div class="skill_box skill_box_1">
                                        <div class="chart_2" data-percent="70" data-bar-color="#ea3d56">
                                            <div class="circle_info">
                                                <h2><span class="counter">72</span>%</h2>
                                                <h6>marketing</h6>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-3 col-sm-6">
                                    <div class="skill_box skill_box_2">
                                        <div class="chart_2" data-percent="70" data-bar-color="#404da9">
                                            <div class="circle_info">
                                                <h2><span class="counter">47</span>%</h2>
                                                <h6>planing</h6>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-3 col-sm-6">
                                    <div class="skill_box skill_box_3">
                                        <div class="chart_2" data-percent="90" data-bar-color="#ff9a47">
                                            <div class="circle_info">
                                                <h2><span class="counter">76</span>%</h2>
                                                <h6>sketch</h6>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-3 col-sm-6">
                                    <div class="skill_box skill_box_4">
                                        <div class="chart_2" data-percent="53" data-bar-color="#56c4c5">
                                            <div class="circle_info">
                                                <h2><span class="counter">39</span>%</h2>
                                                <h6>analytics</h6>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="seomun_img_box skill_img_box wow fadeInRight">
                            <img src="assets/images/skill_right_3.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End seomun_skill section -->
        <!-- Start seomun_works section -->
        <section class="seomun_works seomun_works_1 section_padding_2" id="seomun_works">
            <div class="container works_container"> 
                <div class="row align-items-center">
                    <div class="col-lg-6">
                        <div class="seomun_content_box works_content_box">
                            <span class="seomun_span">Case Study</span>
                            <h2><span>Here Is Our Some</span><br>Awesome Works</h2>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="seomun_works_nav text-center">
                            <ul class="nav nav-tabs">
                                <li class="active">
                                    <a href="#all" class="works_nav_btn active" data-toggle="tab">All Projects</a>
                                </li>
                                <li>
                                    <a href="#ui" class="works_nav_btn" data-toggle="tab">UI/UX</a>
                                </li>
                                <li>
                                    <a href="#brand" class="works_nav_btn" data-toggle="tab">Branding</a>
                                </li>
                                <li>
                                    <a href="#Web" class="works_nav_btn" data-toggle="tab">Web Design</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="work_tab_content tab-content">
                    <div class="tab-pane fadeIn animated" id="all">
                        <div class="row justify-content-center">
                            <div class="col-lg-4 col-md-6 col-sm-8">
                                <div class="seomun_box work_box">
                                    <div class="seomun_img">
                                        <img src="assets/images/work_1.jpg" class="img-fluid" alt="">
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6 col-sm-8">
                                <div class="seomun_box work_box">
                                    <div class="seomun_img">
                                        <img src="assets/images/work_2.jpg" class="img-fluid" alt="">
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6 col-sm-8">
                                <div class="seomun_box work_box">
                                    <div class="seomun_img">
                                        <img src="assets/images/work_1.jpg" class="img-fluid" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane active fadeIn animated" id="ui">
                        <div class="row justify-content-center">
                            <div class="col-lg-4 col-md-6 col-sm-8">
                                <div class="seomun_box work_box">
                                    <div class="seomun_img">
                                        <img src="assets/images/work_1.jpg" class="img-fluid" alt="">
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6 col-sm-8">
                                <div class="seomun_box work_box">
                                    <div class="seomun_img">
                                        <img src="assets/images/work_2.jpg" class="img-fluid" alt="">
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6 col-sm-8">
                                <div class="seomun_box work_box">
                                    <div class="seomun_img">
                                        <img src="assets/images/work_1.jpg" class="img-fluid" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fadeIn animated" id="brand">
                        <div class="row justify-content-center">
                            <div class="col-lg-4 col-md-6 col-sm-8">
                                <div class="seomun_box work_box">
                                    <div class="seomun_img">
                                        <img src="assets/images/work_1.jpg" class="img-fluid" alt="">
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6 col-sm-8">
                                <div class="seomun_box work_box">
                                    <div class="seomun_img">
                                        <img src="assets/images/work_2.jpg" class="img-fluid" alt="">
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6 col-sm-8">
                                <div class="seomun_box work_box">
                                    <div class="seomun_img">
                                        <img src="assets/images/work_1.jpg" class="img-fluid" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fadeIn animated" id="Web">
                        <div class="row justify-content-center">
                            <div class="col-lg-4 col-md-6 col-sm-8">
                                <div class="seomun_box work_box">
                                    <div class="seomun_img">
                                        <img src="assets/images/work_1.jpg" class="img-fluid" alt="">
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6 col-sm-8">
                                <div class="seomun_box work_box">
                                    <div class="seomun_img">
                                        <img src="assets/images/work_2.jpg" class="img-fluid" alt="">
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6 col-sm-8">
                                <div class="seomun_box work_box">
                                    <div class="seomun_img">
                                        <img src="assets/images/work_1.jpg" class="img-fluid" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section><!-- End seomun_works section -->
        <!-- Start seomun_counter section -->
        <section class="seomun_counter seomun_counter_1 section_padding" style="background: url(assets/images/counter_bg.jpg);">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-md-3 col-sm-6">
                        <div class="counter_box counter_text">
                            <h2><span class="counter">234</span>+</h2>
                            <h6>Users</h6>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6">
                        <div class="counter_box counter_text">
                            <h2><span class="counter">345</span>+</h2>
                            <h6>projects</h6>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6">
                        <div class="counter_box counter_text">
                            <h2><span class="counter">765</span>+</h2>
                            <h6>awards</h6>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6">
                        <div class="counter_box counter_text">
                            <h2><span class="counter">862</span>+</h2>
                            <h6>coffee</h6>
                        </div>
                    </div>
                </div>
            </div>
        </section><!-- End seomun_counter section -->
        <!-- Start seomun_team section -->
        <div class="seomun_team seomun_team_1">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-6">
                        <div class="seomun_section_title text-center">
                            <span>team</span>
                            <h2>Our Humbles</h2>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididuntut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud.</p>
                        </div>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-lg-4 col-md-6 col-sm-8">
                        <div class="team_box team_box_1">
                            <div class="seomun_img team_img_1">
                                <img src="assets/images/team_1.jpg" class="img-fluid" alt="">
                            </div>
                            <div class="team_info">
                                <h4>Rosalina D. William</h4>
                                <h6>founder</h6>
                                <div class="team_info_content">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore.</p>
                                    <ul class="social_link">
                                        <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                        <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                        <li><a href="#"><i class="fab fa-behance"></i></a></li>
                                        <li><a href="#"><i class="fab fa-youtube"></i></a></li>
                                        <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-8">
                        <div class="team_box team_box_1">
                            <div class="seomun_img team_img_1">
                                <img src="assets/images/team_2.jpg" class="img-fluid" alt="">
                            </div>
                            <div class="team_info">
                                <h4>Elina D. Halim</h4>
                                <h6>ceo</h6>
                                <div class="team_info_content">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore.</p>
                                    <ul class="social_link">
                                        <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                        <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                        <li><a href="#"><i class="fab fa-behance"></i></a></li>
                                        <li><a href="#"><i class="fab fa-youtube"></i></a></li>
                                        <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-8">
                        <div class="team_box team_box_1">
                            <div class="seomun_img team_img_1">
                                <img src="assets/images/team_5.jpg" class="img-fluid" alt="">
                            </div>
                            <div class="team_info">
                                <h4>Helkaoli Limonda</h4>
                                <h6>marketer</h6>
                                <div class="team_info_content">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore.</p>
                                    <ul class="social_link">
                                        <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                        <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                        <li><a href="#"><i class="fab fa-behance"></i></a></li>
                                        <li><a href="#"><i class="fab fa-youtube"></i></a></li>
                                        <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- End seomun_team section -->
        <!-- Start seomun_service section -->
        <section class="seomun_service service_1 section_padding_2">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-6">
                        <div class="service_box_area">
                            <div class="row justify-content-center">
                                <div class="col-lg-6 col-md-6 col-sm-8">
                                    <div class="seomun_box service_box_1 wow fadeInUp" data-wow-delay=".2s">
                                        <div class="seomun_icon">
                                            <i class="far fa-bullhorn"></i>
                                        </div>
                                        <div class="seomun_info">
                                            <h5>Digital Marketing</h5>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elised do eiusmod tempor.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-8">
                                    <div class="seomun_box service_box_1 sb_top wow fadeInUp" data-wow-delay=".3s">
                                        <div class="seomun_icon">
                                            <i class="fal fa-bullseye-arrow"></i>
                                        </div>
                                        <div class="seomun_info">
                                            <h5>Seo Ranking</h5>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elised do eiusmod tempor.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-8">
                                    <div class="seomun_box service_box_1 wow fadeInUp" data-wow-delay=".5s">
                                        <div class="seomun_icon">
                                            <i class="fal fa-chart-network"></i>
                                        </div>
                                        <div class="seomun_info">
                                            <h5>Black Hat SEO</h5>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elised do eiusmod tempor.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-8">
                                    <div class="seomun_box service_box_1 sb_top wow fadeInUp" data-wow-delay=".7s">
                                        <div class="seomun_icon">
                                            <i class="fal fa-cog"></i>
                                        </div>
                                        <div class="seomun_info">
                                            <h5>Offline SEO</h5>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elised do eiusmod tempor.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="service_right_area">
                            <div class="service_text_box seomun_content_box">
                                <span class="seomun_span">skills</span>
                                <h2><span>Actually......</span><br>what we do.</h2>
                                <h5>We help you managing asset, provide financial advise. Leave money issue with us and focus on your core business.</h5>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ulla mco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehende rit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident for your happiness.</p>
                            </div>
                            <div class="seomun_button_box">
                                <a href="#" class="seomun_btn">get a quote</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section><!-- End seomun_service section -->
        <!-- Start seomun_blog section -->
        <section class="seomun_blog seomun_blog_1 section_padding_2">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-6">
                        <div class="seomun_section_title text-center">
                            <span>Blog</span>
                            <h2>News Feeds</h2>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididuntut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud.</p>
                        </div>
                    </div>
                </div>
                <div class="blog_slide">
                    <div class="seomun_box blog_box">
                        <div class="seomun_img_box">
                            <img src="assets/images/blog_17.jpg" class="img-fluid" alt="">
                        </div>
                        <div class="seomun_info blog_info">
                            <span class="tag">Marketing</span>
                            <h3><a href="#">Sed do eiusmod tempor incididunt ut labore et dolore.</a></h3>
                        </div>
                        <div class="post_meta">
                            <ul>
                                <li><span><i class="far fa-comments"></i></span><a href="#">33 Comments</a></li>
                                <li><span><i class="far fa-user"></i> by </span><a href="#">Rosalina D Williamson</a></li>
                            </ul>        
                        </div>
                    </div>
                    <div class="seomun_box blog_box">
                        <div class="seomun_img_box">
                            <img src="assets/images/blog_18.jpg" class="img-fluid" alt="">
                        </div>
                        <div class="seomun_info blog_info">
                            <span class="tag">agency</span>
                            <h3><a href="#">Sed do eiusmod tempor incididunt ut labore et dolore.</a></h3>
                        </div>
                        <div class="post_meta">
                            <ul>
                                <li><span><i class="far fa-comments"></i></span><a href="#">33 Comments</a></li>
                                <li><span><i class="far fa-user"></i> by </span><a href="#">Rosalina D Williamson</a></li>
                            </ul>        
                        </div>
                    </div>
                    <div class="seomun_box blog_box">
                        <div class="seomun_img_box">
                            <img src="assets/images/blog_19.jpg" class="img-fluid" alt="">
                        </div>
                        <div class="seomun_info blog_info">
                            <span class="tag">seo</span>
                            <h3><a href="#">Sed do eiusmod tempor incididunt ut labore et dolore.</a></h3>
                        </div>
                        <div class="post_meta">
                            <ul>
                                <li><span><i class="far fa-comments"></i></span><a href="#">33 Comments</a></li>
                                <li><span><i class="far fa-user"></i> by </span><a href="#">Rosalina D Williamson</a></li>
                            </ul>        
                        </div>
                    </div>
                    <div class="seomun_box blog_box">
                        <div class="seomun_img_box">
                            <img src="assets/images/blog_17.jpg" class="img-fluid" alt="">
                        </div>
                        <div class="seomun_info blog_info">
                            <span class="tag">Marketing</span>
                            <h3><a href="#">Sed do eiusmod tempor incididunt ut labore et dolore.</a></h3>
                        </div>
                        <div class="post_meta">
                            <ul>
                                <li><span><i class="far fa-comments"></i></span><a href="#">33 Comments</a></li>
                                <li><span><i class="far fa-user"></i> by </span><a href="#">Rosalina D Williamson</a></li>
                            </ul>        
                        </div>
                    </div>
                </div>
            </div>
        </section><!-- End seomun_blog section -->
        <!-- Start seomun_footer area -->
        <footer class="seomun_footer seomun_footer_1">
            <div class="container">
                <div class="widget_area widget_area_1">
                    <div class="row justify-content-center">
                        <div class="col-lg-4 col-md-6 col-sm-12">
                            <div class="widget_box widget_box_1">
                                <div class="footer_title">
                                    <h4>About Us</h4>
                                </div>
                                <div class="footer_text">
                                    <p>Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                                </div>
                                <div class="info_text footer_info">
                                    <p><i class="fal fa-map-marker-alt"></i>184/A, Newman, Main Street Victor</p>
                                    <p><i class="fal fa-envelope"></i><a href="mailto:info@examplehigh.com">info@examplehigh.com</a></p>
                                    <p><i class="fal fa-phone"></i><a href="tel:+1234567890">+(123) 456 -7890</a></p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-12">
                            <div class="widget_box widget_box_1">
                                <div class="footer_title">
                                    <h4>Twitter Feeds</h4>
                                </div>
                                <div class="twitter_post">
                                    <div class="post_single">
                                        <div class="post_icon">
                                            <i class="fab fa-twitter"></i>
                                        </div>
                                        <div class="post_info">
                                            <p>Make an appetizing website without knowing a single line of code with Attika! <a href="#">https://t.co/okeXui9Rrq</a> This elegant… <a href="#">https://t.co/89NSBs2DAO</a></p>
                                        </div>
                                    </div>
                                    <div class="post_single">
                                        <div class="post_icon">
                                            <i class="fab fa-twitter"></i>
                                        </div>
                                        <div class="post_info">
                                            <p>Make an appetizing website without knowing a single line of code with Attika! <a href="#">https://t.co/okeXui9Rrq</a> This elegant… <a href="#">https://t.co/89NSBs2DAO</a></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-12">
                            <div class="widget_box widget_box_1">
                                <div class="footer_title">
                                    <h4>More Links</h4>
                                </div>
                                <div class="footer_widget_list">
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <ul class="widget_list">
                                                <li><a href="#">Paid SEO</a></li>
                                                <li><a href="#">Digital Marketing</a></li>
                                                <li><a href="#">Staratgy Planning</a></li>
                                                <li><a href="#">Offline SEO</a></li>
                                                <li><a href="#">Page Rank Up</a></li>
                                                <li><a href="#">User Panel</a></li>
                                            </ul>
                                        </div>
                                        <div class="col-lg-6">
                                            <ul class="widget_list">
                                                <li><a href="#">Services</a></li>
                                                <li><a href="#">Our Team</a></li>
                                                <li><a href="#">News</a></li>
                                                <li><a href="#">Shop</a></li>
                                                <li><a href="#">Contact Us</a></li>
                                                <li><a href="#">Book Appointment</a></li>
                                            </ul>
                                        </div>  
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="seomun_copyright">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="copyright_text text-center">
                                <p>Copyright by@example.com</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer><!-- End seomun_footer area -->
        <!-- jquery  -->
        <script src="assets/js/vendor/jquery-1.12.4.min.js"></script>
        <!--modernizr js-->
        <script src="assets/js/vendor/modernizr-3.6.0.min.js"></script>
        <!-- Bootstrap js  -->
        <script src="assets/css/bootstrap/js/bootstrap.min.js"></script>
        <script src="assets/css/bootstrap/js/popper.min.js"></script>
        <!--meanmenu js-->
        <script src="assets/js/jquery.meanmenu.js"></script>
        <!--slick slider js -->
        <script src="assets/css/slick/slick.min.js"></script>
        <!-- isotope min.js  -->
        <script src="assets/js/isotope.min.js"></script>
        <!-- imagesloaded min.js  -->
        <script src="assets/js/imagesloaded.min.js"></script>
        <!--magnific-popup js-->
        <script src="assets/js/jquery.magnific-popup.min.js"></script>
        <!--jquery counterup js-->
        <script src="assets/js/jquery.counterup.min.js"></script>
        <script src="assets/js/jquery.waypoints.min.js"></script>
        <!--wow js-->
        <script src="assets/js/wow.min.js"></script>
        <!--easypiechart js-->
        <script src="assets/js/jquery.easypiechart.js"></script>
        <!--nice-number js-->
        <script src="assets/js/jquery.nice-number.min.js"></script>
        <!--sidebar-menu js-->
        <script src="assets/js/sidebar-menu.js"></script>
        <!-- custom js  -->
        <script src="assets/js/custom.js"></script>
	</body>
</html>